/** {*/
/*    box-sizing: border-box;*/
/*}*/

/*body {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100vh;*/
/*    margin: 0;*/
/*}*/

/*#root {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    margin: 0;*/
/*}*/

/*.App {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/* red button with white text color*/
.red-button {
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.red-button:hover {
    background-color: #da190b; /* Red */
    color: white;
}

/* blue button */
.blue-button {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.blue-button:hover {
    background-color: #006CBA; /* Blue */
    color: white;
}

/* green button */
.green-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.green-button:hover {
    background-color: #3e8e41; /* Green */
    color: white;
}


/* link */
.link {
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bold;
    margin: 20px;
}

.operations {
    display: flex;
    flex-direction: column;
}

/* feedback style */
.select-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0;
    border-radius: 4px;
    overflow: hidden;
    min-width: 300px;
}

.select-container select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    font-size: 16px;
}

.select-container:after {
    content: '▼';
    position: absolute;
    top: 10px;
    right: 10px;
    pointer-events: none;
    font-size: 20px;
    color: #777;
}

.step-connector-line {
    border-top-style: dotted !important;
}

/* upload section */
.upload {
    width: 80%;
    margin: 0 auto;
}

.upload-description {
    font-size: 60px;
    border-radius: 50%;
    background-color: #d9d9d9;
    color: black;
    font-weight: bold;
    width: auto;
    padding: 50px;
    max-width: 600px;
    text-align: center;
    margin: 200px auto;
}

.dropzone {
    border: 2px dashed #cccccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.uploaded-files {
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploaded-files div {
    margin-left: 10px;
}

.loading {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

/* main layout */
.main-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.progress {
    width: 10%;

}

.content {
    width: 85%;
}

.progress-bar-container {
    margin: 50px auto auto;
    width: 80%;
}

.download {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-button button {
    margin-top: 20px;
}
