.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.marking-description {
    font-size: 90px;
    position: relative;
    animation: move 5s linear infinite;
    margin-top: 150px;
}

.big-button {
    padding: 40px 40px;
    border-radius: 50%;
    font-size: 70px;
    border: none;
    background-color: #bed0f5;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 150px;
    text-align: center;
    text-decoration: none;
}

.big-button:hover {
    background-color: #6699CC;
}